.*
__pycache__/*
!.gitignore

Analysis/*/Annotations/*
!Analysis/*/Annotations/.gitkeep

Analysis/*/data/*
!Analysis/*/data/.gitkeep

Analysis/*/Plots/*
!Analysis/*/Plots/.gitkeep

Analysis/*/Tables/*
!Analysis/*/Tables/.gitkeep

*.zip